body {
  margin: 0em;
  background-color: #efefef;
}
.block1 {
  margin-top: 3%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #efefef;
  /* shadow */
}
.form1 {
  background-color: white;
  width: 50%;
  box-shadow: 0px 0px 5px 5px lightgray;
  border-radius: 8px;
}
#textArea-parent {
  display: flex;
  justify-content: center;
}

.center {
  margin: auto;
}

.text-area1 {
  height: 300px;
  width: 50%;
  border-left: none;
  border-top: none;
  border-bottom: 5px solid #efefef;
  border-right: 5px solid #efefef;
  padding-top: 10px;
  padding-left: 10px;
}
.text-area2 {
  height: 300px;
  width: 50%;
  border-left: none;
  border-top: none;
  border-bottom: 5px solid #efefef;
  border-right: 5px none;
  padding-top: 10px;
  padding-left: 10px;
}

.btn1 {
  background-color: lightseagreen;
  margin-top: 0px;
  margin-bottom: 35px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.btn1:hover {
  background-color: cadetblue;
}
.btn1:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.btn2 {
  background-color: lightseagreen;
  font-size: medium;
  font-weight: bold;
  color: white;
  border: none;
  width: 20%;
  cursor: pointer;  
}
.btn2:hover {
  background-color: cadetblue;
}
.btn2:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.bt1-parent {
  display: flex;
  justify-content: center;
  padding: 5px 25px 6px;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 25px;
  text-transform: capitalize;
  position: relative;
  width: 140px;
  min-height: 40px;
}
.maindiv {
  width: 100%;
  height: auto;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
  background: whitesmoke;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;


}
.main {
  display: flex;
  height: 100%;
  width: 100%;
}
.Paraphraser {
  color: lightseagreen;;
  font-weight: 600;
  /* underlined */
  text-decoration: underline overline;
  letter-spacing: 0.3ex;
  font-size: 1.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.secondmain {
  max-width: 90%;
  height: 300px;
  background: #ffffff;
  margin: auto;
}
.thirdmain {
  max-width: 100%;
  height: 20%;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center
}
.input1 {
  width: 70%;
  /* height: 150%; */
  font-size: 1.0rem;
  font-weight: medium;
}
.shorten {
  font-size: 15px;
  padding-left: 15px;
  border: none;
  background: white;
  padding-top: 11px;
  border-bottom: 2px solid green;
}
.maininput {
  display: flex;
  height: 80%
}
.textarea-custom {
  resize: none;
  font-size: 1.0rem;
  border: none;
  width: 50%;
  height: 100%;
  padding: 10px;
}
.buttona {
  display: inline-block;
  margin-top:65px;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;  
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
}
.buttonb {
  display: inline-block;
  margin-top:10px;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;  
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
}
.center2 {
  margin-left: auto;
  margin-right: auto;  
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  /* margin-top:0px;
  margin-left:470px; */
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
  text-align: center;

}



.parent-wrapper {
  position: relative;
  width: 400px;
  height: 270px;
  margin: 40px auto 0;
  background-image: url('http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/41750_1_miscellaneous_digital_art_simple_dark_shapes.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -600%;
  background-color: #000;
  border-radius: 4px;
  color: #FFF;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
}

.close-btn {
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.subscribe-wrapper {
  position: absolute;
  left: -30px;
  right: -30px;
  height: 200px;
  padding: 30px;
  background-image: url('https://i.imgur.com/MRjF1PL.png?1');
  background-position-x: 272%;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-color: #FFF;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe-wrapper:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 71px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #7149c7;
}

.subscribe-wrapper h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 28px;
}

.subscribe-wrapper input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 65%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #a77cf4;
}

.subscribe-wrapper .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #a77cf4;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.subscribe-wrapper .submit-btn:hover {
  background-color: #8e62dc;
}




