<!DOCTYPE html>
<html lang="en">

<head>
    <title>Answer Chat AI</title>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.imgur.com/A4tQ1UX.png"/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />    
    <meta property="og:description" content="The arrival of ChatGPT ushers in a new era of search engines for custom documents.
    Our QA bot uses GPT to answer questions and extract key knowledge from custom text, finding those needles in haystacks."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main">
        <div class="maindiv">
            <p class="Paraphraser">
                Answer Chat AI
            </p>
        </div>
    </div>
    <div class="card">
        <!-- <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5> -->
        <p>Extract information from custom documents quickly and accurately using AI in 3 steps! </p>
        <p>1. Upload URL or text and hit search.</p>
            
        <p></p>2. Ask a context specific question and hit query.</p>
            
        <p>3. Get your answer!</p>
        <p><a href="https://rapidapi.com/skandavivek/api/chatgpt-powered-question-answering-over-documents" class="buttonb">Our API is live!</a></p>

    </div>
  
    <div class="block1">
        <div class="secondmain">
            <div class="thirdmain">
                <!-- Create an input for url -->
                <input class="input1" id="url" placeholder="Enter URL (https://) or text">
                <button id="crawl-btn" onclick="crawl_url()" class="btn2" disabled>
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="maininput">
                <textarea class="textarea-custom" id="text-before-phrase" style="border-right: 1px solid #e0e0e0" ;
                    disabled placeholder="How May I Help You?"></textarea>
                <textarea class="textarea-custom" id="text-after-phrase" disabled></textarea>
            </div>
            <div class="bt1-parent center">
                <button id="process-btn" class="btn1" disabled onclick="process_text()">Query</button>
            </div>
        </div>
    </div>
    <!-- <div class="center2"> -->
    <p><a href="mailto:skandavivek@chaoscontrol.net" class="buttona">Contact Us</a></p>
    <p><a href="https://www.linkedin.com/in/skanda-vivek-01619311b/" class="buttonb">LinkedIn</a></p>
    <!-- </div> -->
    <script src="../static/assets/js/main.js"></script>



    

</body>

</html>