<!DOCTYPE html>
<html lang="en">

<head>
    <title>Query AI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main">
        <div class="maindiv">
            <p class="Paraphraser">
                Query AI
            </p>
        </div>
    </div>
    <div class="block1">
        <div class="secondmain">
            <div class="thirdmain">
                <!-- Create an input for url -->
                <input class="input1" id="url" placeholder="Enter URL (https://) or text">
                <button id="crawl-btn" onclick="crawl_url()" class="btn2" disabled>
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="maininput">
                <textarea class="textarea-custom" id="text-before-phrase" style="border-right: 1px solid #e0e0e0" ;
                    disabled placeholder="How May I Help You?"></textarea>
                <textarea class="textarea-custom" id="text-after-phrase" disabled></textarea>
            </div>
            <div class="bt1-parent center">
                <button id="process-btn" class="btn1" disabled onclick="process_text()">Query</button>
            </div>
        </div>
    </div>
    <script src="../static/assets/js/main.js"></script>
    <p><a href="mailto:skandavivek@chaoscontrol.net">Contact Us</a></p>
    <p><a href="https://www.linkedin.com/in/skanda-vivek-01619311b/">Linked In</a></p>
    <p><a href="https://www.linkedin.com/in/skanda-vivek-01619311b/">Support Us!</a></p>
</body>

</html>